* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  background-image: linear-gradient(#e5e7eb 1px, #0000 0),
    linear-gradient(90deg, #e5e7eb 1px, #0000 0);
  background-size: 100px 100px;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
